@import '../base/animations';

.mute-button{
  display:inline-block;
  cursor: pointer;
  position: relative;
  margin-left: 50%;
  margin-top: -21px;
  width: 100px;
  height: 100px;
}

.mute-button img{
  width: 100%;
  height: 100%;
}
.button-circle{
  display: none;
  position: absolute;
  margin-top: 17.5%;
  margin-left: -75px;
  z-index: -1;
}
.mute-button-active{
  animation: rotation 10s infinite linear;
}